<div class="welcome-container">
    <h1 class="title">Mars Colony 1</h1>
    <a routerLink="/register">
      <svg height="500" width="500">
        <circle class="outer-circle" cx="250" cy="250" r="200" /> 
        <circle class="outer-inner-circle" cx="250" cy="250" r="175" />
        <circle class="inner-circle" cx="250" cy="250" r="150" />
        <circle class="inner-inner-circle" cx="250" cy="250" r="125" />
        <text x="185" y="250" font-family="Verdana" font-size="20" fill="white">
          Tap to Enter
        </text>
      </svg>
    </a>
  </div>