/* ----------------------------------- 
 *   General Variables 
 * -----------------------------------
 */
 $screen__size-mobile: 400px;
 $default__flex-toggle: false !default;
 $default__font-family: Roboto;

/* ----------------------------------- 
 *   Welcome Page Variables 
 * -----------------------------------
 */
$base__line-width: 4;
