/* ----------------------------------- 
 *   General Variables 
 * -----------------------------------
 */
 $screen__size-mobile: 400px;
 $default__flex-toggle: false !default;
 $default__font-family: Roboto;
 $content__body-color: rgba(153, 220, 255, 0.6);

/* ----------------------------------- 
 *   Welcome Page Variables 
 * -----------------------------------
 */
$base__line-width: 4;
