body {
    width: 100%;
    height: 100vh;
    margin: 0;

    background: 
        linear-gradient(180deg,rgba(1, 46, 167, 0.25) 0,rgba(0,0,0,.25)),
        url(http://media-channel.nationalgeographic.com/media/uploads/photos/content/video/2016/09/30/776629827588_Digimedia_Mars_Big%20Thinker_09_HTSOM_04_Building%20Shelter_SEQ_v9a_DELIVERY_TXTD.00_00_13_08.Still001.jpg) no-repeat top;
    background-size: cover, cover;

    &:after {
        content: "";
        background: url('images/scanlines.png') repeat center;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; 
    }
}

app-welcome {   

    .welcome-container {
        @include mwidth-container($screen__size-mobile, true);
        flex-flow: column nowrap;
        height: 100vh;
    }

    h1 {
        color: #fff;
        margin: auto;
        margin-bottom: 0;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        line-height: 2;
    }

    a {
        margin: auto;
        margin-top: 0;
    }

    .svg-enter-btn {
        $square-size: $screen__size-mobile - 100;
        $square-size-center: $square-size / 2;
    
        height: $square-size;
        width: $square-size;
    
        circle {
            fill: rgba(255, 255, 255, 0.00);
            stroke-width: $base__line-width;
            transform-origin: 50% 50%;
            animation: rotate 5s linear infinite;
        }
          
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        text {
            font-size: 20px;
            fill: rgb(0, 255, 241);
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    
        .outer-circle {
            @include logo__circle(  
                $square-size-center, 
                $square-size-center,
                125 );
            stroke: rgba(66, 66, 66, 0.80);
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
            stroke-width: $base__line-width * 5;
        }

        .outer-piece {
            @extend .outer-circle;
            stroke: rgba(0, 189, 255, 0.5);
            stroke-dasharray: 100;
            stroke-dashoffset: 200;
            stroke-width: $base__line-width * 3.5;
        }
    
        .outer-inner-circle {
            @extend .outer-circle;
            r: 100;
            stroke: rgba(255, 255, 255, 0.70);
            stroke-dasharray: 125;
            stroke-dashoffset: 350;
            stroke-width: $base__line-width * 2.5;
        }
    
        .inner-circle {
            @extend .outer-circle;
            r: 75;
            stroke: rgba(33, 123, 183, 0.6);
            stroke-dasharray: 250;
            stroke-dashoffset: 1000;
            stroke-width: $base__line-width;
        }
    
        .inner-inner-circle {
            @extend .outer-circle;
            r: 50;
            stroke: rgba(255, 255, 255, 0.50);
            stroke-dasharray: 200;
            stroke-dashoffset: 900; 
            stroke-width: $base__line-width * 1.5;
        }

        .innerCircle {
            r: 25%;
            cy: 50%;
            cx: 50%;
            fill: none;
            stroke: rgb(0, 255, 241);
            stroke-width: 1%;
            animation: circle-pulse 1.5s linear infinite;
        }
        
        @keyframes circle-pulse {
            0% {
                r: 5%;
                stroke-width: 3%;
                opacity: 1;
            }
            100% {
                r: 25%;
                stroke-width: 0%;
                opacity: 0;
            }
        }
    }
}