<div class="container">
  <header class="encounters-title">
    <h1>Recent Encounters</h1>
    <h3>See an Alien? Report It!</h3>
  </header>

  <section class="main-body">
    <ul class="encounters-list">
      <li class="encounter" *ngFor="let encounter of encounters">
        <div class="encounter-meta">
          {{ encounter.date }} - {{ encounter.atype }}
        </div>
        <div class="encounter-action">
          {{ encounter.action }}
        </div>
      </li>
    </ul>
  </section>

  <footer class="main-footer">
    <button class="report-encounter"> <a routerLink="/report">Report Encounter</a></button>
  </footer>
</div>